# Node
node_modules
npm-debug.log
yarn-error.log
.npm

# Build
dist

# Environment
.env
.env.local
.env.*.local

# Python backup (ancien code)
python-backup

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs

# Test
coverage
.nyc_output

# Documentation locale
README.md

# Fichiers temporaires
*.tmp
*.temp
tmp/
temp/
